@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --bg-color: darkgrey;
    --fg-color: aqua;
}

body {
    /* background-color: var(--bg-color); */
    font-family: Inter;
}

.card {
    /* background-color: var(--fg-color);
    padding: 1rem; */
}
